html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
* ,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
    margin: 0;
}

h2, p {
    margin: .5rem 0;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

input {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: .5rem;
    width: 90%;

}

img {
    width: 100%;
}

footer {
    height: 50vh;
}

a {
    text-decoration: none;
    color: blue;
}

@media (min-width:700px) {
    h2 {
        font-size: 3rem;
    }
}

.register {
    background-color: rgb(233, 232, 232, 0.8);
    text-align: center;
    border-radius: 1rem;
    max-width: 100rem;
    min-width: 30rem;
    margin: 0 auto;
}

.description {
    height: 100px;
    border-radius: 1rem 1rem 0 0;
    background-color: rgb(242, 242, 242, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-form-btn {
    padding: 1.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn {
    margin: 1rem 0;
    width: 60%;
    background-color: rgb(170, 170, 170);
}

.btn:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

.div-img {
    width: 50%;
    height: 200px;
    min-width: 350px;
    min-height: 150px;
    margin: 0 auto;
    display: flex;
}

.container {
    width: 100%;
    background-image: url("https://img5.goodfon.com/wallpaper/nbig/e/37/interieur-restaurant-view.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 1rem;
}

@media (min-width:700px) {
    .register{
        height: 90vh;
        display: flex;
        flex-direction: column;
    }

    .description {
        height: 15%;
    }
    
    .container-form-btn {
        height: 85%;
    }
}

@media (min-width:900px) {
    .container-form-btn {
        justify-content: center;
    }
    .register{
        max-width: 90rem;
    }
}



#btn-register {
    margin-top: 2rem;
}

#btn-google {
    background-color: blue;
    color: whitesmoke;
}

#btn-facebook {
    background-color: rgb(54, 54, 243);
    color: whitesmoke;
}

#btn-linkedin {
    background-color: rgb(249, 249, 250);
    color: blue;
}

#btn-twitter {
    background-color: rgb(30, 165, 255);
    color: rgb(255, 255, 255);
}

#btn-instagram {
    background-color: rgb(196, 91, 152);
    color: rgb(255, 255, 255);
}


#div-register-ok {
    height: 40vh;
    max-height: 300px;
    display: flex;
}

#titulo-register-ok {
    font-size: 6rem;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}

#titulo-footer {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}

#contenedor-titulo-footer {
    margin: 2rem auto 0 auto;
}

#contenedor-img {
    display: flex;
    width: 70%;
    min-width: 90%;
    height: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

#img-1,#img-2 {
    align-self: center;
}

#btn-volver {
    display: flex;
    background-color: rgb(95, 103, 218);
    width: 180px;
    height: 40px;
    margin: 0 auto 10rem auto;
    border-radius: .3rem;
}

#link {
    color: aliceblue;
    font-size: 1.7rem;
    justify-content: center;
    margin: 0 auto;
    align-self: center;
}

#div-form {
    width: 100%;
}

#form {
    width: 100%;
    margin: 0 auto;
}

#div-btn {
    width: 100%;
}

#button-checkout{
    width: 100%;
}

@media (min-width:700px) {
    #div-form {
        align-self: center;
    }

    #form {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width:900px) {
    #div-form {
        max-width: 40rem;
    }
    
    #form {
        width: 100%;
        margin: 0 auto;
    }
    
    #div-btn {
        max-width: 40rem;
        margin-top: 6rem;
    }
}




